<!DOCTYPE html>
<html lang="fa" dir="rtl">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="author" content="Alex Edwards">
		<meta name="copyright" content="Copyright Alex Edwards 2025">
		<title>مدیریت بازنشانی رمز عبور &mdash; Let's Go Further</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" type="text/css" href="assets/css/main.css">
		<link rel="icon" type="image/x-icon" href="assets/img/favicon.ico">
	</head>
	<body>
		<header>
			<div class="wrapper">
				<div>
					
					
						<a href="00.00-front-matter.html">Let's Go Further</a> <span class="crumbs">&rsaquo; <a href="21.00-appendices.html">پیوست‌ها</a> &rsaquo; مدیریت بازنشانی رمز عبور</span>
					
				</div>
				<div>
					&lsaquo; <a href="21.00-appendices.html">قبلی</a>
					&middot; <a href="00.01-contents.html">فهرست مطالب</a> &middot;
					<a href="21.02-creating-additional-activation-tokens.html">بعدی</a> &rsaquo;
				</div>
			</div>
		</header>
		<main class="wrapper text">
			<div class="chapter">فصل ۲۱.۱.</div>
			<h2 id="managing-password-resets">مدیریت بازنشانی رمز عبور</h2>

<p>اگر API‌ای که می‌سازید برای مخاطبان عمومی است، احتمالاً می‌خواهید قابلیت بازنشانی رمز عبور را برای کاربرانی که رمز عبور خود را فراموش کرده‌اند اضافه کنید.</p>

<p>برای پشتیبانی از این قابلیت در API خود، می‌توانید دو endpoint زیر را اضافه کنید:</p>

<table>
<thead>
<tr>
<th>متد</th>
<th>الگوی URL</th>
<th>Handler</th>
<th>عملیات</th>
</tr>
</thead>

<tbody>
<tr>
<td>POST</td>
<td>/v1/tokens/password-reset</td>
<td>createPasswordResetTokenHandler</td>
<td>تولید یک token جدید برای بازنشانی رمز عبور</td>
</tr>

<tr>
<td>PUT</td>
<td>/v1/users/password</td>
<td>updateUserPasswordHandler</td>
<td>به‌روزرسانی رمز عبور برای یک کاربر مشخص</td>
</tr>
</tbody>
</table>
<p>و یک فرآیند کاری مانند زیر پیاده‌سازی کنید:</p>

<ol>
<li>یک client درخواستی به endpoint <code>POST /v1/tokens/password-reset</code> ارسال می‌کند که حاوی آدرس ایمیل کاربر مورد نظر برای بازنشانی رمز عبور است.</li>
<li>اگر کاربری با آن آدرس ایمیل در جدول <code>users</code> وجود داشته باشد، <em>و کاربر قبلاً آدرس ایمیل خود را با فعال‌سازی تأیید کرده باشد</em>، یک token تصادفی با امنیت رمزنگاری و entropy بالا تولید می‌شود.</li>
<li>یک hash از این token در جدول <code>tokens</code> ذخیره می‌شود، همراه با user ID و یک زمان انقضای کوتاه (۳۰ تا ۶۰ دقیقه) برای token.</li>
<li>token اصلی (بدون hash) به کاربر از طریق ایمیل ارسال می‌شود.</li>
<li>اگر مالک آدرس ایمیل درخواست بازنشانی رمز عبور نداده باشد، می‌تواند ایمیل را نادیده بگیرد.</li>
<li>در غیر این صورت، می‌تواند token را همراه با رمز عبور جدید خود به endpoint <code>PUT /v1/users/password</code> ارسال کند. اگر hash token در جدول <code>tokens</code> وجود داشته باشد و منقضی نشده باشد، یک bcrypt hash از رمز عبور جدید تولید شده و رکورد کاربر به‌روزرسانی می‌شود.</li>
<li>تمام token‌های بازنشانی رمز عبور موجود برای کاربر حذف می‌شوند.</li>
</ol>

<p>در کدپایگاه ما، می‌توانید این فرآیند کاری را با ایجاد یک token scope جدید به نام <code>password-reset</code> پیاده‌سازی کنید:</p>

<figure class="code go">
<figcaption>فایل: internal/data/tokens.go</figcaption>
<pre><span class="kn">package</span> <span class="nx">data</span>

<span class="o">...</span>

<span class="kd">const</span> <span class="p">(</span>
    <span class="nx">ScopeActivation</span>     <span class="p">=</span> <span class="s">&#34;activation&#34;</span>
    <span class="nx">ScopeAuthentication</span> <span class="p">=</span> <span class="s">&#34;authentication&#34;</span>
    <span class="nx">ScopePasswordReset</span>  <span class="p">=</span> <span class="s">&#34;password-reset&#34;</span>
<span class="p">)</span>

<span class="o">...</span></pre>
</figure>

<p>و سپس دو handler زیر را اضافه کنید:</p>

<figure class="code go">
<figcaption>فایل: cmd/api/tokens.go</figcaption>
<pre><span class="kn">package</span> <span class="nx">main</span>

<span class="o">...</span>

<span class="c1">// Generate a password reset token and send it to the user&#39;s email address.
</span><span class="c1"></span><span class="kd">func</span> <span class="p">(</span><span class="nx">app</span> <span class="o">*</span><span class="nx">application</span><span class="p">)</span> <span class="nf">createPasswordResetTokenHandler</span><span class="p">(</span><span class="nx">w</span> <span class="nx">http</span><span class="p">.</span><span class="nx">ResponseWriter</span><span class="p">,</span> <span class="nx">r</span> <span class="o">*</span><span class="nx">http</span><span class="p">.</span><span class="nx">Request</span><span class="p">)</span> <span class="p">{</span>
    <span class="c1">// Parse and validate the user&#39;s email address.
</span><span class="c1"></span>    <span class="kd">var</span> <span class="nx">input</span> <span class="kd">struct</span> <span class="p">{</span>
        <span class="nx">Email</span> <span class="kt">string</span> <span class="s">`</span><span class="s">json:&#34;email&#34;</span><span class="s">`</span>
    <span class="p">}</span>

    <span class="nx">err</span> <span class="o">:=</span> <span class="nx">app</span><span class="p">.</span><span class="nf">readJSON</span><span class="p">(</span><span class="nx">w</span><span class="p">,</span> <span class="nx">r</span><span class="p">,</span> <span class="o">&amp;</span><span class="nx">input</span><span class="p">)</span>
    <span class="k">if</span> <span class="nx">err</span> <span class="o">!=</span> <span class="kc">nil</span> <span class="p">{</span>
        <span class="nx">app</span><span class="p">.</span><span class="nf">badRequestResponse</span><span class="p">(</span><span class="nx">w</span><span class="p">,</span> <span class="nx">r</span><span class="p">,</span> <span class="nx">err</span><span class="p">)</span>
        <span class="k">return</span>
    <span class="p">}</span>

    <span class="nx">v</span> <span class="o">:=</span> <span class="nx">validator</span><span class="p">.</span><span class="nf">New</span><span class="p">(</span><span class="p">)</span>

    <span class="k">if</span> <span class="nx">data</span><span class="p">.</span><span class="nf">ValidateEmail</span><span class="p">(</span><span class="nx">v</span><span class="p">,</span> <span class="nx">input</span><span class="p">.</span><span class="nx">Email</span><span class="p">)</span><span class="p">;</span> <span class="p">!</span><span class="nx">v</span><span class="p">.</span><span class="nf">Valid</span><span class="p">(</span><span class="p">)</span> <span class="p">{</span>
        <span class="nx">app</span><span class="p">.</span><span class="nf">failedValidationResponse</span><span class="p">(</span><span class="nx">w</span><span class="p">,</span> <span class="nx">r</span><span class="p">,</span> <span class="nx">v</span><span class="p">.</span><span class="nx">Errors</span><span class="p">)</span>
        <span class="k">return</span>
    <span class="p">}</span>

    <span class="c1">// Try to retrieve the corresponding user record for the email address. If it can&#39;t
</span><span class="c1"></span>    <span class="c1">// be found, return an error message to the client.
</span><span class="c1"></span>    <span class="nx">user</span><span class="p">,</span> <span class="nx">err</span> <span class="o">:=</span> <span class="nx">app</span><span class="p">.</span><span class="nx">models</span><span class="p">.</span><span class="nx">Users</span><span class="p">.</span><span class="nf">GetByEmail</span><span class="p">(</span><span class="nx">input</span><span class="p">.</span><span class="nx">Email</span><span class="p">)</span>
    <span class="k">if</span> <span class="nx">err</span> <span class="o">!=</span> <span class="kc">nil</span> <span class="p">{</span>
        <span class="k">switch</span> <span class="p">{</span>
        <span class="k">case</span> <span class="nx">errors</span><span class="p">.</span><span class="nf">Is</span><span class="p">(</span><span class="nx">err</span><span class="p">,</span> <span class="nx">data</span><span class="p">.</span><span class="nx">ErrRecordNotFound</span><span class="p">)</span><span class="p">:</span>
            <span class="nx">v</span><span class="p">.</span><span class="nf">AddError</span><span class="p">(</span><span class="s">&#34;email&#34;</span><span class="p">,</span> <span class="s">&#34;no matching email address found&#34;</span><span class="p">)</span>
            <span class="nx">app</span><span class="p">.</span><span class="nf">failedValidationResponse</span><span class="p">(</span><span class="nx">w</span><span class="p">,</span> <span class="nx">r</span><span class="p">,</span> <span class="nx">v</span><span class="p">.</span><span class="nx">Errors</span><span class="p">)</span>
        <span class="k">default</span><span class="p">:</span>
            <span class="nx">app</span><span class="p">.</span><span class="nf">serverErrorResponse</span><span class="p">(</span><span class="nx">w</span><span class="p">,</span> <span class="nx">r</span><span class="p">,</span> <span class="nx">err</span><span class="p">)</span>
        <span class="p">}</span>
        <span class="k">return</span>
    <span class="p">}</span>

    <span class="c1">// Return an error message if the user is not activated.
</span><span class="c1"></span>    <span class="k">if</span> <span class="p">!</span><span class="nx">user</span><span class="p">.</span><span class="nx">Activated</span> <span class="p">{</span>
        <span class="nx">v</span><span class="p">.</span><span class="nf">AddError</span><span class="p">(</span><span class="s">&#34;email&#34;</span><span class="p">,</span> <span class="s">&#34;user account must be activated&#34;</span><span class="p">)</span>
        <span class="nx">app</span><span class="p">.</span><span class="nf">failedValidationResponse</span><span class="p">(</span><span class="nx">w</span><span class="p">,</span> <span class="nx">r</span><span class="p">,</span> <span class="nx">v</span><span class="p">.</span><span class="nx">Errors</span><span class="p">)</span>
        <span class="k">return</span>
    <span class="p">}</span>

    <span class="c1">// Otherwise, create a new password reset token with a 45-minute expiry time.
</span><span class="c1"></span>    <span class="nx">token</span><span class="p">,</span> <span class="nx">err</span> <span class="o">:=</span> <span class="nx">app</span><span class="p">.</span><span class="nx">models</span><span class="p">.</span><span class="nx">Tokens</span><span class="p">.</span><span class="nf">New</span><span class="p">(</span><span class="nx">user</span><span class="p">.</span><span class="nx">ID</span><span class="p">,</span> <span class="mi">45</span><span class="o">*</span><span class="nx">time</span><span class="p">.</span><span class="nx">Minute</span><span class="p">,</span> <span class="nx">data</span><span class="p">.</span><span class="nx">ScopePasswordReset</span><span class="p">)</span>
    <span class="k">if</span> <span class="nx">err</span> <span class="o">!=</span> <span class="kc">nil</span> <span class="p">{</span>
        <span class="nx">app</span><span class="p">.</span><span class="nf">serverErrorResponse</span><span class="p">(</span><span class="nx">w</span><span class="p">,</span> <span class="nx">r</span><span class="p">,</span> <span class="nx">err</span><span class="p">)</span>
        <span class="k">return</span>
    <span class="p">}</span>

    <span class="c1">// Email the user with their password reset token.
</span><span class="c1"></span>    <span class="nx">app</span><span class="p">.</span><span class="nf">background</span><span class="p">(</span><span class="kd">func</span><span class="p">(</span><span class="p">)</span> <span class="p">{</span>
        <span class="nx">data</span> <span class="o">:=</span> <span class="kd">map</span><span class="p">[</span><span class="kt">string</span><span class="p">]</span><span class="nx">any</span><span class="p">{</span>
            <span class="s">&#34;passwordResetToken&#34;</span><span class="p">:</span> <span class="nx">token</span><span class="p">.</span><span class="nx">Plaintext</span><span class="p">,</span>
        <span class="p">}</span>

        <span class="c1">// Since email addresses MAY be case sensitive, notice that we are sending this 
</span><span class="c1"></span>        <span class="c1">// email using the address stored in our database for the user --- not to the 
</span><span class="c1"></span>        <span class="c1">// input.Email address provided by the client in this request.
</span><span class="c1"></span>        <span class="nx">err</span> <span class="o">:=</span> <span class="nx">app</span><span class="p">.</span><span class="nx">mailer</span><span class="p">.</span><span class="nf">Send</span><span class="p">(</span><span class="nx">user</span><span class="p">.</span><span class="nx">Email</span><span class="p">,</span> <span class="s">&#34;token_password_reset.tmpl&#34;</span><span class="p">,</span> <span class="nx">data</span><span class="p">)</span>
        <span class="k">if</span> <span class="nx">err</span> <span class="o">!=</span> <span class="kc">nil</span> <span class="p">{</span>
            <span class="nx">app</span><span class="p">.</span><span class="nx">logger</span><span class="p">.</span><span class="nf">Error</span><span class="p">(</span><span class="nx">err</span><span class="p">.</span><span class="nf">Error</span><span class="p">(</span><span class="p">)</span><span class="p">)</span>
        <span class="p">}</span>
    <span class="p">}</span><span class="p">)</span>

    <span class="c1">// Send a 202 Accepted response and confirmation message to the client.
</span><span class="c1"></span>    <span class="nx">env</span> <span class="o">:=</span> <span class="nx">envelope</span><span class="p">{</span><span class="s">&#34;message&#34;</span><span class="p">:</span> <span class="s">&#34;an email will be sent to you containing password reset instructions&#34;</span><span class="p">}</span>

    <span class="nx">err</span> <span class="p">=</span> <span class="nx">app</span><span class="p">.</span><span class="nf">writeJSON</span><span class="p">(</span><span class="nx">w</span><span class="p">,</span> <span class="nx">http</span><span class="p">.</span><span class="nx">StatusAccepted</span><span class="p">,</span> <span class="nx">env</span><span class="p">,</span> <span class="kc">nil</span><span class="p">)</span>
    <span class="k">if</span> <span class="nx">err</span> <span class="o">!=</span> <span class="kc">nil</span> <span class="p">{</span>
        <span class="nx">app</span><span class="p">.</span><span class="nf">serverErrorResponse</span><span class="p">(</span><span class="nx">w</span><span class="p">,</span> <span class="nx">r</span><span class="p">,</span> <span class="nx">err</span><span class="p">)</span>
    <span class="p">}</span>
<span class="p">}</span></pre>
</figure>

<figure class="code go">
<figcaption>فایل: cmd/api/users.go</figcaption>
<pre><span class="kn">package</span> <span class="nx">main</span>

<span class="o">...</span>

<span class="c1">// Verify the password reset token and set a new password for the user.
</span><span class="c1"></span><span class="kd">func</span> <span class="p">(</span><span class="nx">app</span> <span class="o">*</span><span class="nx">application</span><span class="p">)</span> <span class="nf">updateUserPasswordHandler</span><span class="p">(</span><span class="nx">w</span> <span class="nx">http</span><span class="p">.</span><span class="nx">ResponseWriter</span><span class="p">,</span> <span class="nx">r</span> <span class="o">*</span><span class="nx">http</span><span class="p">.</span><span class="nx">Request</span><span class="p">)</span> <span class="p">{</span>
    <span class="c1">// Parse and validate the user&#39;s new password and password reset token.
</span><span class="c1"></span>    <span class="kd">var</span> <span class="nx">input</span> <span class="kd">struct</span> <span class="p">{</span>
        <span class="nx">Password</span>       <span class="kt">string</span> <span class="s">`</span><span class="s">json:&#34;password&#34;</span><span class="s">`</span>
        <span class="nx">TokenPlaintext</span> <span class="kt">string</span> <span class="s">`</span><span class="s">json:&#34;token&#34;</span><span class="s">`</span>
    <span class="p">}</span>

    <span class="nx">err</span> <span class="o">:=</span> <span class="nx">app</span><span class="p">.</span><span class="nf">readJSON</span><span class="p">(</span><span class="nx">w</span><span class="p">,</span> <span class="nx">r</span><span class="p">,</span> <span class="o">&amp;</span><span class="nx">input</span><span class="p">)</span>
    <span class="k">if</span> <span class="nx">err</span> <span class="o">!=</span> <span class="kc">nil</span> <span class="p">{</span>
        <span class="nx">app</span><span class="p">.</span><span class="nf">badRequestResponse</span><span class="p">(</span><span class="nx">w</span><span class="p">,</span> <span class="nx">r</span><span class="p">,</span> <span class="nx">err</span><span class="p">)</span>
        <span class="k">return</span>
    <span class="p">}</span>

    <span class="nx">v</span> <span class="o">:=</span> <span class="nx">validator</span><span class="p">.</span><span class="nf">New</span><span class="p">(</span><span class="p">)</span>

    <span class="nx">data</span><span class="p">.</span><span class="nf">ValidatePasswordPlaintext</span><span class="p">(</span><span class="nx">v</span><span class="p">,</span> <span class="nx">input</span><span class="p">.</span><span class="nx">Password</span><span class="p">)</span>
    <span class="nx">data</span><span class="p">.</span><span class="nf">ValidateTokenPlaintext</span><span class="p">(</span><span class="nx">v</span><span class="p">,</span> <span class="nx">input</span><span class="p">.</span><span class="nx">TokenPlaintext</span><span class="p">)</span>

    <span class="k">if</span> <span class="p">!</span><span class="nx">v</span><span class="p">.</span><span class="nf">Valid</span><span class="p">(</span><span class="p">)</span> <span class="p">{</span>
        <span class="nx">app</span><span class="p">.</span><span class="nf">failedValidationResponse</span><span class="p">(</span><span class="nx">w</span><span class="p">,</span> <span class="nx">r</span><span class="p">,</span> <span class="nx">v</span><span class="p">.</span><span class="nx">Errors</span><span class="p">)</span>
        <span class="k">return</span>
    <span class="p">}</span>

    <span class="c1">// Retrieve the details of the user associated with the password reset token,
</span><span class="c1"></span>    <span class="c1">// returning an error message if no matching record was found.
</span><span class="c1"></span>    <span class="nx">user</span><span class="p">,</span> <span class="nx">err</span> <span class="o">:=</span> <span class="nx">app</span><span class="p">.</span><span class="nx">models</span><span class="p">.</span><span class="nx">Users</span><span class="p">.</span><span class="nf">GetForToken</span><span class="p">(</span><span class="nx">data</span><span class="p">.</span><span class="nx">ScopePasswordReset</span><span class="p">,</span> <span class="nx">input</span><span class="p">.</span><span class="nx">TokenPlaintext</span><span class="p">)</span>
    <span class="k">if</span> <span class="nx">err</span> <span class="o">!=</span> <span class="kc">nil</span> <span class="p">{</span>
        <span class="k">switch</span> <span class="p">{</span>
        <span class="k">case</span> <span class="nx">errors</span><span class="p">.</span><span class="nf">Is</span><span class="p">(</span><span class="nx">err</span><span class="p">,</span> <span class="nx">data</span><span class="p">.</span><span class="nx">ErrRecordNotFound</span><span class="p">)</span><span class="p">:</span>
            <span class="nx">v</span><span class="p">.</span><span class="nf">AddError</span><span class="p">(</span><span class="s">&#34;token&#34;</span><span class="p">,</span> <span class="s">&#34;invalid or expired password reset token&#34;</span><span class="p">)</span>
            <span class="nx">app</span><span class="p">.</span><span class="nf">failedValidationResponse</span><span class="p">(</span><span class="nx">w</span><span class="p">,</span> <span class="nx">r</span><span class="p">,</span> <span class="nx">v</span><span class="p">.</span><span class="nx">Errors</span><span class="p">)</span>
        <span class="k">default</span><span class="p">:</span>
            <span class="nx">app</span><span class="p">.</span><span class="nf">serverErrorResponse</span><span class="p">(</span><span class="nx">w</span><span class="p">,</span> <span class="nx">r</span><span class="p">,</span> <span class="nx">err</span><span class="p">)</span>
        <span class="p">}</span>
        <span class="k">return</span>
    <span class="p">}</span>

    <span class="c1">// Set the new password for the user.
</span><span class="c1"></span>    <span class="nx">err</span> <span class="p">=</span> <span class="nx">user</span><span class="p">.</span><span class="nx">Password</span><span class="p">.</span><span class="nf">Set</span><span class="p">(</span><span class="nx">input</span><span class="p">.</span><span class="nx">Password</span><span class="p">)</span>
    <span class="k">if</span> <span class="nx">err</span> <span class="o">!=</span> <span class="kc">nil</span> <span class="p">{</span>
        <span class="nx">app</span><span class="p">.</span><span class="nf">serverErrorResponse</span><span class="p">(</span><span class="nx">w</span><span class="p">,</span> <span class="nx">r</span><span class="p">,</span> <span class="nx">err</span><span class="p">)</span>
        <span class="k">return</span>
    <span class="p">}</span>

    <span class="c1">// Save the updated user record in our database, checking for any edit conflicts as
</span><span class="c1"></span>    <span class="c1">// normal.
</span><span class="c1"></span>    <span class="nx">err</span> <span class="p">=</span> <span class="nx">app</span><span class="p">.</span><span class="nx">models</span><span class="p">.</span><span class="nx">Users</span><span class="p">.</span><span class="nf">Update</span><span class="p">(</span><span class="nx">user</span><span class="p">)</span>
    <span class="k">if</span> <span class="nx">err</span> <span class="o">!=</span> <span class="kc">nil</span> <span class="p">{</span>
        <span class="k">switch</span> <span class="p">{</span>
        <span class="k">case</span> <span class="nx">errors</span><span class="p">.</span><span class="nf">Is</span><span class="p">(</span><span class="nx">err</span><span class="p">,</span> <span class="nx">data</span><span class="p">.</span><span class="nx">ErrEditConflict</span><span class="p">)</span><span class="p">:</span>
            <span class="nx">app</span><span class="p">.</span><span class="nf">editConflictResponse</span><span class="p">(</span><span class="nx">w</span><span class="p">,</span> <span class="nx">r</span><span class="p">)</span>
        <span class="k">default</span><span class="p">:</span>
            <span class="nx">app</span><span class="p">.</span><span class="nf">serverErrorResponse</span><span class="p">(</span><span class="nx">w</span><span class="p">,</span> <span class="nx">r</span><span class="p">,</span> <span class="nx">err</span><span class="p">)</span>
        <span class="p">}</span>
        <span class="k">return</span>
    <span class="p">}</span>

    <span class="c1">// If everything was successful, then delete all password reset tokens for the user.
</span><span class="c1"></span>    <span class="nx">err</span> <span class="p">=</span> <span class="nx">app</span><span class="p">.</span><span class="nx">models</span><span class="p">.</span><span class="nx">Tokens</span><span class="p">.</span><span class="nf">DeleteAllForUser</span><span class="p">(</span><span class="nx">data</span><span class="p">.</span><span class="nx">ScopePasswordReset</span><span class="p">,</span> <span class="nx">user</span><span class="p">.</span><span class="nx">ID</span><span class="p">)</span>
    <span class="k">if</span> <span class="nx">err</span> <span class="o">!=</span> <span class="kc">nil</span> <span class="p">{</span>
        <span class="nx">app</span><span class="p">.</span><span class="nf">serverErrorResponse</span><span class="p">(</span><span class="nx">w</span><span class="p">,</span> <span class="nx">r</span><span class="p">,</span> <span class="nx">err</span><span class="p">)</span>
        <span class="k">return</span>
    <span class="p">}</span>

    <span class="c1">// Send the user a confirmation message.
</span><span class="c1"></span>    <span class="nx">env</span> <span class="o">:=</span> <span class="nx">envelope</span><span class="p">{</span><span class="s">&#34;message&#34;</span><span class="p">:</span> <span class="s">&#34;your password was successfully reset&#34;</span><span class="p">}</span>

    <span class="nx">err</span> <span class="p">=</span> <span class="nx">app</span><span class="p">.</span><span class="nf">writeJSON</span><span class="p">(</span><span class="nx">w</span><span class="p">,</span> <span class="nx">http</span><span class="p">.</span><span class="nx">StatusOK</span><span class="p">,</span> <span class="nx">env</span><span class="p">,</span> <span class="kc">nil</span><span class="p">)</span>
    <span class="k">if</span> <span class="nx">err</span> <span class="o">!=</span> <span class="kc">nil</span> <span class="p">{</span>
        <span class="nx">app</span><span class="p">.</span><span class="nf">serverErrorResponse</span><span class="p">(</span><span class="nx">w</span><span class="p">,</span> <span class="nx">r</span><span class="p">,</span> <span class="nx">err</span><span class="p">)</span>
    <span class="p">}</span>
<span class="p">}</span></pre>
</figure>

<p>همچنین باید فایل <code>internal/mailer/templates/token_password_reset.tmpl</code> را ایجاد کنید که حاوی قالب‌های ایمیل برای بازنشانی رمز عبور باشد، مشابه این:</p>

<figure class="code plain">
<figcaption>فایل: internal/mailer/templates/token_password_reset.tmpl</figcaption>
<pre>{{define &#34;subject&#34;}}Reset your Greenlight password{{end}}

{{define &#34;plainBody&#34;}}
Hi,

Please send a `PUT /v1/users/password` request with the following JSON body to set a new password:

{&#34;password&#34;: &#34;your new password&#34;, &#34;token&#34;: &#34;{{.passwordResetToken}}&#34;}

Please note that this is a one-time use token and it will expire in 45 minutes. If you need 
another token please make a `POST /v1/tokens/password-reset` request.

Thanks,

The Greenlight Team
{{end}}

{{define &#34;htmlBody&#34;}}
&lt;!doctype html&gt;
&lt;html&gt;
  &lt;head&gt;
    &lt;meta name=&#34;viewport&#34; content=&#34;width=device-width&#34; /&gt;
    &lt;meta http-equiv=&#34;Content-Type&#34; content=&#34;text/html; charset=UTF-8&#34; /&gt;
  &lt;/head&gt;
  &lt;body&gt;
    &lt;p&gt;Hi,&lt;/p&gt;
    &lt;p&gt;Please send a &lt;code&gt;PUT /v1/users/password&lt;/code&gt; request with the following JSON body to set a new password:&lt;/p&gt;
    &lt;pre&gt;&lt;code&gt;
    {&#34;password&#34;: &#34;your new password&#34;, &#34;token&#34;: &#34;{{.passwordResetToken}}&#34;}
    &lt;/code&gt;&lt;/pre&gt;  
    &lt;p&gt;Please note that this is a one-time use token and it will expire in 45 minutes.
    If you need another token please make a &lt;code&gt;POST /v1/tokens/password-reset&lt;/code&gt; request.&lt;/p&gt;
    &lt;p&gt;Thanks,&lt;/p&gt;
    &lt;p&gt;The Greenlight Team&lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;
{{end}}</pre>
</figure>

<p>و route‌های لازم را به فایل <code>cmd/api/routes.go</code> اضافه کنید:</p>

<figure class="code go">
<figcaption>فایل: cmd/api/routes.go</figcaption>
<pre><span class="kn">package</span> <span class="nx">main</span>

<span class="o">...</span>

<span class="kd">func</span> <span class="p">(</span><span class="nx">app</span> <span class="o">*</span><span class="nx">application</span><span class="p">)</span> <span class="nf">routes</span><span class="p">(</span><span class="p">)</span> <span class="nx">http</span><span class="p">.</span><span class="nx">Handler</span> <span class="p">{</span>
    <span class="nx">router</span> <span class="o">:=</span> <span class="nx">httprouter</span><span class="p">.</span><span class="nf">New</span><span class="p">(</span><span class="p">)</span>

    <span class="nx">router</span><span class="p">.</span><span class="nx">NotFound</span> <span class="p">=</span> <span class="nx">http</span><span class="p">.</span><span class="nf">HandlerFunc</span><span class="p">(</span><span class="nx">app</span><span class="p">.</span><span class="nx">notFoundResponse</span><span class="p">)</span>
    <span class="nx">router</span><span class="p">.</span><span class="nx">MethodNotAllowed</span> <span class="p">=</span> <span class="nx">http</span><span class="p">.</span><span class="nf">HandlerFunc</span><span class="p">(</span><span class="nx">app</span><span class="p">.</span><span class="nx">methodNotAllowedResponse</span><span class="p">)</span>

    <span class="nx">router</span><span class="p">.</span><span class="nf">HandlerFunc</span><span class="p">(</span><span class="nx">http</span><span class="p">.</span><span class="nx">MethodGet</span><span class="p">,</span> <span class="s">&#34;/v1/healthcheck&#34;</span><span class="p">,</span> <span class="nx">app</span><span class="p">.</span><span class="nx">healthcheckHandler</span><span class="p">)</span>

    <span class="nx">router</span><span class="p">.</span><span class="nf">HandlerFunc</span><span class="p">(</span><span class="nx">http</span><span class="p">.</span><span class="nx">MethodGet</span><span class="p">,</span> <span class="s">&#34;/v1/movies&#34;</span><span class="p">,</span> <span class="nx">app</span><span class="p">.</span><span class="nf">requirePermission</span><span class="p">(</span><span class="s">&#34;movies:read&#34;</span><span class="p">,</span> <span class="nx">app</span><span class="p">.</span><span class="nx">listMoviesHandler</span><span class="p">)</span><span class="p">)</span>
    <span class="nx">router</span><span class="p">.</span><span class="nf">HandlerFunc</span><span class="p">(</span><span class="nx">http</span><span class="p">.</span><span class="nx">MethodPost</span><span class="p">,</span> <span class="s">&#34;/v1/movies&#34;</span><span class="p">,</span> <span class="nx">app</span><span class="p">.</span><span class="nf">requirePermission</span><span class="p">(</span><span class="s">&#34;movies:write&#34;</span><span class="p">,</span> <span class="nx">app</span><span class="p">.</span><span class="nx">createMovieHandler</span><span class="p">)</span><span class="p">)</span>
    <span class="nx">router</span><span class="p">.</span><span class="nf">HandlerFunc</span><span class="p">(</span><span class="nx">http</span><span class="p">.</span><span class="nx">MethodGet</span><span class="p">,</span> <span class="s">&#34;/v1/movies/:id&#34;</span><span class="p">,</span> <span class="nx">app</span><span class="p">.</span><span class="nf">requirePermission</span><span class="p">(</span><span class="s">&#34;movies:read&#34;</span><span class="p">,</span> <span class="nx">app</span><span class="p">.</span><span class="nx">showMovieHandler</span><span class="p">)</span><span class="p">)</span>
    <span class="nx">router</span><span class="p">.</span><span class="nf">HandlerFunc</span><span class="p">(</span><span class="nx">http</span><span class="p">.</span><span class="nx">MethodPatch</span><span class="p">,</span> <span class="s">&#34;/v1/movies/:id&#34;</span><span class="p">,</span> <span class="nx">app</span><span class="p">.</span><span class="nf">requirePermission</span><span class="p">(</span><span class="s">&#34;movies:write&#34;</span><span class="p">,</span> <span class="nx">app</span><span class="p">.</span><span class="nx">updateMovieHandler</span><span class="p">)</span><span class="p">)</span>
    <span class="nx">router</span><span class="p">.</span><span class="nf">HandlerFunc</span><span class="p">(</span><span class="nx">http</span><span class="p">.</span><span class="nx">MethodDelete</span><span class="p">,</span> <span class="s">&#34;/v1/movies/:id&#34;</span><span class="p">,</span> <span class="nx">app</span><span class="p">.</span><span class="nf">requirePermission</span><span class="p">(</span><span class="s">&#34;movies:write&#34;</span><span class="p">,</span> <span class="nx">app</span><span class="p">.</span><span class="nx">deleteMovieHandler</span><span class="p">)</span><span class="p">)</span>

    <span class="nx">router</span><span class="p">.</span><span class="nf">HandlerFunc</span><span class="p">(</span><span class="nx">http</span><span class="p">.</span><span class="nx">MethodPost</span><span class="p">,</span> <span class="s">&#34;/v1/users&#34;</span><span class="p">,</span> <span class="nx">app</span><span class="p">.</span><span class="nx">registerUserHandler</span><span class="p">)</span>
    <span class="nx">router</span><span class="p">.</span><span class="nf">HandlerFunc</span><span class="p">(</span><span class="nx">http</span><span class="p">.</span><span class="nx">MethodPut</span><span class="p">,</span> <span class="s">&#34;/v1/users/activated&#34;</span><span class="p">,</span> <span class="nx">app</span><span class="p">.</span><span class="nx">activateUserHandler</span><span class="p">)</span>
    <span class="c1">// Add the PUT /v1/users/password endpoint.
</span><span class="c1"></span>    <span class="nx">router</span><span class="p">.</span><span class="nf">HandlerFunc</span><span class="p">(</span><span class="nx">http</span><span class="p">.</span><span class="nx">MethodPut</span><span class="p">,</span> <span class="s">&#34;/v1/users/password&#34;</span><span class="p">,</span> <span class="nx">app</span><span class="p">.</span><span class="nx">updateUserPasswordHandler</span><span class="p">)</span>

    <span class="nx">router</span><span class="p">.</span><span class="nf">HandlerFunc</span><span class="p">(</span><span class="nx">http</span><span class="p">.</span><span class="nx">MethodPost</span><span class="p">,</span> <span class="s">&#34;/v1/tokens/authentication&#34;</span><span class="p">,</span> <span class="nx">app</span><span class="p">.</span><span class="nx">createAuthenticationTokenHandler</span><span class="p">)</span>
    <span class="c1">// Add the POST /v1/tokens/password-reset endpoint.
</span><span class="c1"></span>    <span class="nx">router</span><span class="p">.</span><span class="nf">HandlerFunc</span><span class="p">(</span><span class="nx">http</span><span class="p">.</span><span class="nx">MethodPost</span><span class="p">,</span> <span class="s">&#34;/v1/tokens/password-reset&#34;</span><span class="p">,</span> <span class="nx">app</span><span class="p">.</span><span class="nx">createPasswordResetTokenHandler</span><span class="p">)</span>

    <span class="nx">router</span><span class="p">.</span><span class="nf">Handler</span><span class="p">(</span><span class="nx">http</span><span class="p">.</span><span class="nx">MethodGet</span><span class="p">,</span> <span class="s">&#34;/debug/vars&#34;</span><span class="p">,</span> <span class="nx">expvar</span><span class="p">.</span><span class="nf">Handler</span><span class="p">(</span><span class="p">)</span><span class="p">)</span>

    <span class="k">return</span> <span class="nx">app</span><span class="p">.</span><span class="nf">metrics</span><span class="p">(</span><span class="nx">app</span><span class="p">.</span><span class="nf">recoverPanic</span><span class="p">(</span><span class="nx">app</span><span class="p">.</span><span class="nf">enableCORS</span><span class="p">(</span><span class="nx">app</span><span class="p">.</span><span class="nf">rateLimit</span><span class="p">(</span><span class="nx">app</span><span class="p">.</span><span class="nf">authenticate</span><span class="p">(</span><span class="nx">router</span><span class="p">)</span><span class="p">)</span><span class="p">)</span><span class="p">)</span><span class="p">)</span>
<span class="p">}</span></pre>
</figure>

<p>پس از آنکه همه چیز در جای خود قرار گرفت، باید بتوانید یک token بازنشانی رمز عبور جدید با ارسال درخواست زیر دریافت کنید:</p>

<figure class="code bash">
<pre>$ curl -X POST -d &#39;{&#34;email&#34;: &#34;alice@example.com&#34;}&#39; localhost:4000/v1/tokens/password-reset
<samp>{
    &#34;message&#34;: &#34;an email will be sent to you containing password reset instructions&#34;
}</samp></pre>
</figure>

<p>و سپس می‌توانید تغییر رمز عبور واقعی را با ارسال درخواستی حاوی token دریافت شده در ایمیل آغاز کنید. به عنوان مثال:</p>

<figure class="code bash">
<pre>$ BODY=&#39;{&#34;password&#34;: &#34;your new password&#34;, &#34;token&#34;: &#34;Y7QCRZ7FWOWYLXLAOC2VYOLIPY&#34;}&#39;
$ curl -X PUT -d &#34;$BODY&#34; localhost:4000/v1/users/password
<samp>{
    &#34;message&#34;: &#34;your password was successfully reset&#34;
}</samp></pre>
</figure>

<hr />

<h3 id="additional-information">اطلاعات تکمیلی</h3>

<h4 id="web-application-workflow">فرآیند کاری وب‌اپلیکیشن</h4>

<p>درست مانند فرآیند فعال‌سازی که قبلاً بررسی کردیم، اگر API شما به عنوان backend یک وب‌سایت عمل می‌کند (نه یک سرویس کاملاً مستقل)، می‌توانید این فرآیند بازنشانی رمز عبور را طوری تنظیم کنید که برای کاربران بصری‌تر باشد.</p>

<p>به عنوان مثال، می‌توانید از کاربر بخواهید token را در یک فرم در وب‌سایت شما همراه با رمز عبور جدید وارد کند و از JavaScript برای ارسال محتوای فرم به endpoint <code>PUT /v1/users/password</code> خود استفاده کنید. ایمیل برای پشتیبانی از این فرآیند می‌تواند شبیه این باشد:</p>

<figure class="code plain">
<pre>Hi,

To reset your password please visit https://example.com/users/password and enter the 
following secret code along with your new password:

--------------------------
Y7QCRZ7FWOWYLXLAOC2VYOLIPY
--------------------------

Please note that this code will expire in 45 minutes. If you need another code please 
visit https://example.com/tokens/password-reset.

Thanks,

The Greenlight Team</pre>
</figure>

<p>یا اگر نمی‌خواهید کاربر token را کپی و پیست کند، می‌توانید از آن بخواهید روی لینکی حاوی token کلیک کند که او را به صفحه‌ای در وب‌سایت شما هدایت کند. مشابه این:</p>

<figure class="code plain">
<pre>Hi,

To reset your password please click the following link:

https://example.com/users/password?token=Y7QCRZ7FWOWYLXLAOC2VYOLIPY

Please note that this link will expire in 45 minutes. If you need another password reset
link please visit https://example.com/tokens/password-reset.

Thanks,

The Greenlight Team</pre>
</figure>

<p>این صفحه سپس می‌تواند فرمی را نمایش دهد که در آن کاربر رمز عبور جدید خود را وارد می‌کند و JavaScript موجود در صفحه باید token را از URL استخراج کرده و آن را همراه با رمز عبور جدید به endpoint <code>PUT /v1/users/password</code> ارسال کند. دوباره، اگر این گزینه دوم را انتخاب می‌کنید، باید اقداماتی برای جلوگیری از نشت token در referrer header انجام دهید.</p>

		</main>
		<footer>
			<div class="wrapper">
				<div>
					&lsaquo; <a href="21.00-appendices.html">قبلی</a>
				</div>
				<div>
					<a href="00.01-contents.html">فهرست مطالب</a>
				</div>
				<div>
					<a href="21.02-creating-additional-activation-tokens.html">بعدی</a> &rsaquo;
				</div>
			</div>
		</footer>
		<script>
			document.onkeydown = function(evt) {
				evt = evt || window.event;
				switch (evt.keyCode) {
					
					case 37:
						window.location.href = "21.00-appendices.html";
						break;
						
					
					case 39:
						window.location.href = "21.02-creating-additional-activation-tokens.html";
						break;
						
				}
			};
		</script>
	</body>
</html>
